*
{
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
}

html,body
{
    height: 100%;
    width: 100%;
}

#main
{
    width: 100%;
}

#hero
{
    width: 100%;
    height: 100vh;
    color: white;
    background-color: black;
}

#nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
    color: white;
}

#nav a
{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

#heading
{
    margin-top: 9%;
}

#heading h1
{
    margin-left: 30px;
    line-height: 1;
    opacity: 0.7;
    /* font-family: "General Sans Medium"; */
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;
}

#heading #secondh1
{
    margin-left: 230px;
}

.blocktext
{
    width: fit-content;
}

.blocktext h5
{
    text-transform: uppercase;
    font-size: 15px;
    text-align: right;
}

#smallheadings
{
    margin-top: 120px;
    padding-right: 50px;
}

#smallheadings h5
{
    text-align: right;
    text-transform: uppercase;
    font-size: 1vw;
    margin-top: .5vw;
}

#herofooter a
{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

#herofooter
{
    width: 100%;
    position: absolute;
    bottom: 3%;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#herofooter #iconset
{
    display: flex;
    gap: 5px;
}

#herofooter .circle
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: grey;
    
}